@import "@styles/theme.scss";
@import "@styles/public.scss";

.products-list {
    background-color: white;
    margin-bottom: -20px;
    &__item {
        margin-bottom: 20px;
        padding: 20px;
        height: 180px;
        width: 100%;
        background-color: $page-color;
        &_img {
            width: 180px;
            height: 100%;
            .image {
                height: 100%;
            }
        }
        &_container {
            margin-left: 20px;
            width: 450px;
            display: flex;
            flex-direction: column;
            align-self: flex-start;
        }
        &_number {
            width: 50px;
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            align-items: flex-end;
        }
    }
}