@import "./mixins.scss";

$primary-color: #ab2b2b;
$disabled-color: #dddddd;
$theme-color: rgb(71, 221, 236);
$page-color: rgb(244,244,244);
$tip-color: rgb(236, 150, 94);
$grey-color: rgb(161, 161, 161);
$line-color: rgb(246, 246, 246);

$black: #000000;
$white: #ffffff;

$text-color: #333333;
$text-color-light: #666666;
$text-color-lighter: #999999;

$border-color: #dddddd;
$border-radius: 4px;

$image-bg: #f4f4f4;
$page-bg: #F4F4F4;

.icon {
    width: 40px;
    height: 40px;
}

.small-icon {
    width: 30px;
    height: 30px;
}